printf "* text=auto\n\
*.js  text eol=lf\n\
*.ts  text eol=lf\n\
*.json text eol=lf\n\
*.md  text eol=lf\n\
*.sh  text eol=lf\n\
*.yml text eol=lf\n\
*.yaml text eol=lf\n\
*.bat text eol=crlf\n\
*.cmd text eol=crlf\n\
*.ps1 text eol=crlf\n" > .gitattributes
